<nav class="flex items-center justify-between w-full px-4 py-2">

    <!-- Espacio vacío para que el centrado funcione -->
    <div class="w-1/3 hidden xl:flex"></div>

    <!-- Links Principales centrados -->
    <div class="bg-black text-gray-300 py-3 px-11 shadow-md rounded-3xl mx-auto">
        <div class="space-x-12  2xl:space-x-16">
            <a class="text-[16px] 2xl:text-[17px] hover:text-white font-semibold cursor-pointer"
                routerLink="proyect" routerLinkActive="text-[#acb4ff]">Proyecto</a>
            <a class="text-[16px] 2xl:text-[17px] hover:text-white font-semibold cursor-pointer" routerLink="/tasks"
                routerLinkActive="text-[#acb4ff]">Tareas</a>
            <a class="text-[16px] 2xl:text-[17px] hover:text-white font-semibold cursor-pointer" routerLink="/create-task"
                routerLinkActive="text-[#919bf4]">Crear Tareas</a>
        </div>
    </div>

  <!-- Icono visible en 1280px con menú en hover -->
  <div class="xl:w-1/3 flex justify-end xl:hidden relative group">
    <button class="flex items-center cursor-pointer">
      <img src="../../../assets/user_icon.png" class="w-11 h-11" />
    </button>

    <!-- Menú desplegable -->
    <div class="absolute right-6 mt-10 bg-black shadow-lg rounded-md w-40 py-2 z-50 hidden group-hover:block">
      <a routerLink="/login" class="block px-4 py-2 text-sm text-white0 hover:bg-gray-900 cursor-pointer">Inicia sesión</a>
      <a routerLink="/register" class="block px-4 py-2 text-sm text-white hover:bg-gray-900 cursor-pointer">Regístrate</a>
    </div>
  </div>

    <!-- Login / Register alineado a la derecha -->
    <div class="xl: w-1/3 justify-end space-x-5 hidden xl:flex">
        <!-- <a class="text-[15px] 2xl:text-[16px] text-[#acb4ff] px-4 py-1 border border-[#acb4ff] rounded-md font-semibold cursor-pointer"
            >Inicia sesión</a>
        <a class="text-[15px]  2xl:text-[16px] bg-[#5A67D8] px-4 py-1 border border-[#5A67D8] rounded-md font-semibold cursor-pointer"
            >Registrate</a> -->
    </div>
</nav>