<h3 class="font-semibold text-[35px] text-center">Proyecto</h3>
<div class="mt-10 flex flex-col items-center">
    <p class="w-[60%] text-[20px]">
        Como parte del proceso de postulación para el cargo de ingeniero backend en Node.js con Express, presento a continuación una aplicación Fullstack To-Do List. Este proyecto ha sido desarrollado como respuesta a la prueba técnica enviada, la cual busca evaluar los conocimientos prácticos en desarrollo backend, organización de proyectos y manejo de rutas, controladores y persistencia de datos. La aplicación permite gestionar tareas de forma eficiente, con funcionalidades como creación, edición, eliminación entre otros.
    </p>
    <p class="w-[60%] text-[20px] mt-6">
        Además, se ha integrado <strong>Socket.IO</strong> para actualizar en tiempo real los cambios en las tareas, para probar esta funcionalidad, se recomienda abrir o duplicar la ventana del navegador y observar cómo se reflejan los cambios simultáneamente en la tabla de Tareas.
    </p>
</div>