<div class="2xl:w-[1400px] xl:w-[1100px] mx-auto">
    <table class="min-w-full border border-gray-300 rounded-md overflow-hidden text-white">
        <thead class="bg-[#1b1d2d]">
            <tr class="">
                <th class="px-4 py-2 text-left text-sm font-semibold border-b text-[16px]  border-gray-500">ID</th>
                <th class="px-4 py-2 text-left text-sm font-semibold border-b text-[16px] border-gray-500">Título</th>
                <th class="px-4 py-2 text-left text-sm font-semibold border-b text-[16px] border-gray-500">Descripción
                </th>
                <th class="px-4 py-2 text-left text-sm font-semibold border-b text-[16px] border-gray-500">Estado</th>
                <th class="px-4 py-2 text-left text-sm font-semibold border-b text-[16px] border-gray-500">Acciones</th>
            </tr>
        </thead>
        <tbody class="bg-[#1b1d2d]">
            <tr *ngFor="let task of tasks; trackBy: trackByTaskId" class="hover:bg-[#27293b]">
                <td class="px-4 py-2 border-b text-[15px] border-gray-700 " [ngClass]="{ 'text-gray-500': task.status === 'completada' }">{{ task.id }}</td>
                <td class="px-4 py-2 border-b text-[15px] border-gray-700" [ngClass]="{ 'line-through text-gray-500': task.status === 'completada' }">{{ task.titulo }}</td>
                <td class="px-4 py-2 border-b text-[15px] border-gray-700 truncate lg:max-w-[280px] max-w-[200px]" [ngClass]="{ 'line-through text-gray-500': task.status === 'completada' }">{{
                    task.descripcion }}</td>
                <td class="px-4 py-2 border-b text-[15px] border-gray-700 capitalize"> 
                    <div class="flex gap-1.5 items-center">
                        <div class="w-2.5 h-2.5 rounded-full" [ngClass]="{
                                'bg-red-500': task.status === 'pendiente',
                                'bg-yellow-400': task.status === 'en progreso',
                                'bg-green-500': task.status === 'completada'
                            }">
                        </div>
                        <span>{{ task.status }}</span>
                    </div>
                </td>
                <td class="px-4 py-2 border-b text-[15px] border-gray-700 capitalize space-x-4">
                    <button (click)="openModal(task.id)"
                        class="border-[#5A67D8] border text-[#5A67D8] text-[14px] px-3 py-0.5 font-semibold rounded-md cursor-pointer">Editar</button>
                    <button (click)="onDelete(task.id)"
                        class="border-red-400 border text-red-400 text-[14px] px-3 py-0.5 font-semibold rounded-md cursor-pointer">Eliminar</button>

                    <!-- Botón para tareas pendientes -->
                    <button *ngIf="task.status === 'pendiente'" (click)="onStartTask(task.id)"
                        class="border-yellow-400 border hover:text-yellow-400 text-[14px] px-3 py-0.5 font-semibold rounded-md cursor-pointer">
                        Iniciar tarea
                    </button>

                    <!-- Botón para tareas en progreso -->
                    <button *ngIf="task.status === 'en progreso'" (click)="onFinishTask(task.id)"
                        class="border-green-700 border hover:text-green-500 text-[14px] px-3 py-0.5 font-semibold rounded-md cursor-pointer">
                        Finalizar tarea
                    </button>
                </td>
            </tr>
            <tr *ngIf="tasks.length === 0">
                <td colspan="4" class="text-center px-4 py-6 text-gray-500">No hay tareas para mostrar</td>
            </tr>
        </tbody>
    </table>

</div>